<div class="container p-0 mt-2 border rounded">
    <div class="loading-indicator" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h4>Stories</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <mat-form-field>
                    <input matInput placeholder="Suche" #searchField>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <mat-table class="table table-hover table-bordered table-striped table-sm" [dataSource]="dataSource"
                       matSort matSortActive="titel" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef style="max-width:60px;">ID</mat-header-cell>
                    <mat-cell *matCellDef="let story" style="max-width:60px;">{{story.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="bild">
                    <mat-header-cell *matHeaderCellDef>Bild</mat-header-cell>
                    <mat-cell *matCellDef="let story">
                        <img src="/api/stories/{{story.id}}/thumbnail" alt="[Bild]" title="Vorschaubild">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="titel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Titel</mat-header-cell>
                    <mat-cell *matCellDef="let story"><span class="text-left">{{story.titel}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let story">
                        <a [routerLink]="['/stories/detail',story.id]" href="#"><img src="assets/img/view.png" alt="[View]"
                                                                            title="Anzeigen" height="30"></a>&nbsp;
                        <a [routerLink]="['/stories/edit',story.id]" href="#" *ngIf="currentUser?.userName === story.autor"><img
                            src="assets/img/edit.png" alt="[Edit]"
                            title="Editieren" height="30"></a>&nbsp;
                        <a (click)="deleteStory(story)" href="#" *ngIf="currentUser?.userName === story.autor"><img
                            src="assets/img/trash.png" alt="[Trash]"
                            title="Löschen" height="30"></a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>


            <mat-paginator [length]="(dataSource.inserateResult$ | async)?.page?.totalElements"
                           [pageSize]="initialPageSize"
                           [pageSizeOptions]="pageSizes"></mat-paginator>


        </div>
    </div>
</div>
