<div class="container mt-2">
        <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="needs-validation" novalidate>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h3>Registrierung als Vermittler</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="organisation">Name der Organisation</label>
                        <div class="col-sm-8">
                            <input type="text" id="organisation" class="form-control" [(ngModel)]="vermittler.organisation" #organisation="ngModel"
                                    (ngModelChange)="resetErrors()"
                                    name="organisation" required maxlength="100"/>
                            <div *ngIf="organisation.invalid && (organisation.dirty || organisation.touched)" class="alert alert-danger">
                                <div *ngIf="organisation.errors.required">
                                    Bitte eine Organisation angeben.
                                </div>
                                <div *ngIf="organisation.errors.maxlength">
                                    Der Organisationsname ist zu lang
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="ansprechpartner">Name des Ansprechpartners</label>
                        <div class="col-sm-8">
                            <input type="text" id="ansprechpartner" class="form-control" [(ngModel)]="vermittler.ansprechpartner" #ansprechpartner="ngModel"
                                    (ngModelChange)="resetErrors()"
                                    name="ansprechpartner" required  maxlength="100"/>
                            <div *ngIf="ansprechpartner.invalid && (ansprechpartner.dirty || ansprechpartner.touched)" class="alert alert-danger">
                                <div *ngIf="ansprechpartner.errors.required">
                                    Bitte den Ansprechpartner angeben.
                                </div>
                                <div *ngIf="ansprechpartner.errors.maxlength">
                                    Der Name des Ansprechpartners ist zu lang
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="strasseHsNr">Strasse / Hausnummer</label>
                        <div class="col-sm-8">
                            <input type="text" id="strasseHsNr" class="form-control" [(ngModel)]="vermittler.strasseHsNr" #strasseHsNr="ngModel"
                                    (ngModelChange)="resetErrors()"
                                    name="strasseHsNr" required maxlength="100"/>
                            <div *ngIf="strasseHsNr.invalid && (strasseHsNr.dirty || strasseHsNr.touched)" class="alert alert-danger">
                                <div *ngIf="ansprechpartner.errors.required">
                                    Bitte die Strase u. HsNr angeben.
                                </div>
                                <div *ngIf="ansprechpartner.errors.maxlength">
                                    Der Text ist zu lang
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-md-4 col-form-label font-weight-bold required" for="plz">PLZ</label>
                        <div class="col-sm-8 col-md-2">
                            <input type="text" id="plz" class="form-control" [(ngModel)]="vermittler.plz" #plz="ngModel"
                                    (ngModelChange)="resetErrors()"
                                    name="plz" required  pattern="[0-9]{5}" />
                            <div *ngIf="plz.invalid && (plz.dirty || plz.touched)" class="alert alert-danger">
                                <div *ngIf="plz.errors.required">
                                    Bitte die PLZ angeben.
                                </div>
                                <div *ngIf="plz.errors.pattern">
                                    Eine gültige deutsche Postleitzahl besteht aus genau fünf Ziffern.
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-4 col-md-2 col-form-label font-weight-bold required" for="ort">Ort</label>
                        <div class="col-sm-8 col-md-4">
                            <input type="text" id="ort" class="form-control" [(ngModel)]="vermittler.ort" #ort="ngModel"
                                    (ngModelChange)="resetErrors()"
                                    name="ort" required maxlength="100"/>
                            <div *ngIf="ort.invalid && (ort.dirty || ort.touched)" class="alert alert-danger">
                                <div *ngIf="ort.errors.required">
                                    Bitte den Ort angeben.
                                </div>
                                <div *ngIf="ort.errors.maxlength">
                                    Der Text ist zu lang
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="bundesland">Bundesland</label>
                        <div class="col-sm-8">
                                <select id="bundesland"
                                required
                                class="form-control"
                                [(ngModel)]="vermittler.bundesland" name="bundesland"
                                #bundesland="ngModel">
                                <option *ngFor="let bundesland of constants.bundeslaender"
                                    [value]="bundesland">
                                {{bundesland}}
                                </option>
                            </select>

                            <div *ngIf="bundesland.invalid && (bundesland.dirty || bundesland.touched)" class="alert alert-danger">
                                Bitte das Bundesland angeben.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="telefon">Telefon</label>
                        <div class="col-sm-8">
                            <input type="text" id="telefon" class="form-control" [(ngModel)]="vermittler.telefon" #telefon="ngModel"
                                   (ngModelChange)="resetErrors()"
                                   name="telefon" required pattern="^[0-9-+/\ss()]*$" maxlength="20" />
                            <div *ngIf="telefon.invalid && (telefon.dirty || telefon.touched)" class="alert alert-danger">
                                <div *ngIf="telefon.errors.required">
                                    Bitte die Telefonnummer angeben.
                                </div>
                                <div *ngIf="telefon.errors.maxlength">
                                    Die Telefonnummer ist zu lang.
                                </div>
                                <div *ngIf="telefon.errors.pattern">
                                    Keine gültige Telefonnummer.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="webseite">Webseite</label>
                        <div class="col-sm-8">
                            <input type="text" id="webseite" class="form-control" [(ngModel)]="vermittler.webseite" #webseite="ngModel"
                                   (ngModelChange)="resetErrors()"
                                   name="webseite" required maxlength="100" pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$"/>
                            <div *ngIf="webseite.invalid && (webseite.dirty || webseite.touched)" class="alert alert-danger">
                                <div *ngIf="webseite.errors.required">
                                    Bitte eine Webseite angeben.
                                </div>
                                <div *ngIf="webseite.errors.maxlength">
                                    Die Webseiten-URL ist zu lang.
                                </div>
                                <div *ngIf="webseite.errors.pattern">
                                    Bitte eine gültige URL angeben.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="email">Email-Adresse </label>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-control" [(ngModel)]="vermittler.username" #email="ngModel"
                                   (ngModelChange)="resetErrors()"
                                   name="email" required email maxlength="100"/>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Bitte eine Email-Adresse angeben.
                                </div>
                                <div *ngIf="email.errors.maxlength">
                                    Die Email-Adresse ist zu lang.
                                </div>
                                <div *ngIf="email.errors.email">
                                    Keine gültige Email-Adresse.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="password">Passwort</label>
                        <div class="col-sm-8">
                            <input type="password" id="password" class="form-control" [(ngModel)]="data.password"
                                   validateEqual="confirmPassword" reverse="true"
                                   (ngModelChange)="resetErrors()"
                                   #password="ngModel" name="password" required minlength="8" maxlength="100"/>
                            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Passwort ist ein Pflichtfeld
                                </div>
                                <div *ngIf="password.errors.maxlength">
                                    Das Passwort ist zu lang.
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Das Passwort muss mindestens 8 Zeichen lang sein.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label font-weight-bold required" for="confirmPassword">Passwort
                            wiederholen</label>
                        <div class="col-sm-8">
                            <input type="password" id="confirmPassword" class="form-control"
                                   [(ngModel)]="data.confirmPassword" #confirmPassword="ngModel" name="confirmPassword"
                                   validateEqual="password" reverse="false"
                                   (ngModelChange)="resetErrors()"
                                   required />
                            <div
                                *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                class="alert alert-danger">
                                <div *ngIf="confirmPassword.errors.required">
                                    Das Feld ist ein Pflichtfeld
                                </div>
                                <div *ngIf="confirmPassword.errors.validateEqual">
                                    Die Inhalte der beiden Passwortfelder müssen identisch sein.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="registrationFailed">
                    Die Registrierung ist fehlgeschlagen!
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 text-left">
                            <button type="button" class="btn btn-warning" routerLink="/">abbrechen</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn-primary btn-success" [disabled]="registerForm.invalid">
                                Registrieren
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
