<mat-dialog-content>
    <form #storyschreiberForm="ngForm" class="needs-validation" novalidate>
    <input type="text" id="storyschreiber" [(ngModel)]="data.storyschreiber"
           #storyschreiber="ngModel" class="form-control"
           name="storyschreiber" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
    <div *ngIf="storyschreiber.invalid && (storyschreiber.dirty || storyschreiber.touched)" class="alert alert-danger">
        Bitte eine gültige Email-Adresse angeben.
    </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save(storyschreiberForm)" [disabled]="storyschreiberForm.invalid">
        Save
    </button>
</mat-dialog-actions>
