<div class="container mt-2 pb-5">
    <div class="row ">
        <div class="col-sm-12 col-md-12 mb-4">
            <div class="card pointer" routerLink="/inserate">
                <div class="card-header">
                    <h3 class="card-title">Inserate</h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="assets/img/German-Shepherd-lie-look-leaf-320x240.jpg"
                         alt="Inserate anzeigen" title="Inserate anzeigen">
                </div>
                <div class="card-footer ">
                    <p class="card-text">Zuhause gesucht.</p>
                </div>
            </div>
        </div>
    </div>
</div>
