<div class="container mt-2 pb-5">
    <div class="row ">
    <div class="col-sm-12 col-md-12 mb-4">
            <div class="card pointer" routerLink="/stories">
                <div class="card-header">
                            <h3 class="card-title">Stories</h3>
                </div>
                <div class="card-body">
                        <img class="card-img-top" src="assets/img/Yorkshire-Terrier-glasses-fluffy-wind-320x240.jpg" alt="Stories anzeigen" title="Stories anzeigen">
                </div>
                <div class="card-footer ">
                        <p class="card-text">Mein neues Leben.</p>
                </div>
              </div>
        </div>
    </div>
</div>
