<div class="container-fluid">
        <div class="row">
                <div class="col-md-3 mb-3">
                    <button class="btn btn-success" (click)="goBack()">zurück</button>
                </div>
            </div>
        <form (ngSubmit)="onSubmit()" #storyForm="ngForm" class="needs-validation" novalidate>
                <div class="row border rounded ">
                        <div class="col-sm-12 bg-info font-weight-bold"><h3>{{story?.titel}}</h3></div>
                    </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="titel">Titel</label>
                    <input type="text" id="titel" class="form-control" [(ngModel)]="story.titel" name="titel" required/>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="titel">Beschreibung</label>
                        <textarea
                               id="titel"
                               class="form-control"
                               [(ngModel)]="story.beschreibung"
                               name="beschreibung" rows="8"></textarea>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3 mb-3">
                            <button type="submit" class="btn btn-success" [disabled]="!storyForm.form.valid">Speichern</button>
                    </div>
            </div>
            <div class="row">
                <div class="card-columns">
                    <app-upload *ngFor="let image of images"
                                [bildMetadaten]="image"
                                (imageUploaded)="onImageUploaded($event)"></app-upload>
                </div>
        </div>
        </form>

        <!-- TODO: Weitere Felder anzeigen -->
    </div>


