<div class="container">
    <form (ngSubmit)="onSubmit()" #inseratForm="ngForm" class="needs-validation" novalidate>
        <h2 class="mb-3">Inserat {{inserat?.id ? 'editieren' : 'anlegen' }} {{inserat?.rufname ? '"' + inserat.rufname + '"' : ''}}</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="rasse">Rasse</label>
                <select id="rasse"
                        required
                        class="form-control"
                        [(ngModel)]="inserat.rasse" name="rasse"
                        #rasse="ngModel">
                    <option *ngFor="let rasse of rassen | async"
                            [value]="rasse" [selected]="rasse === inserat.rasse">
                        {{rasse}}
                    </option>
                </select>
                <div [hidden]="rasse.valid || rasse.pristine"
                     class="alert alert-danger">
                    Rasse ist ein Pflichtfeld
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="rassenFreitext">Sonstige Informationen</label>
                <input type="text"
                       id="rassenFreitext"
                       class="form-control"
                       [(ngModel)]="inserat.rassenFreitext"
                       name="rassenFreitext"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="gebDatum">Geburtsdatum</label>
                <input type="text"
                       required
                       ngbDatepicker
                       id="gebDatum"
                       class="form-control"
                       [(ngModel)]="inserat.geburtsdatum"
                       name="gebDatum"
                       #gebDatum="ngModel"
                       #gebDatumDatepicker="ngbDatepicker"
                       (click)="gebDatumDatepicker.toggle()"/>
                <div [hidden]="gebDatum.valid || gebDatum.pristine"
                     class="alert alert-danger">
                    Das Geburtsdatum ist ein Pflichtfeld
                </div>
            </div>
            <div class="col-md-3 mb-1">
                <label for="groesseAktuell">Größe (aktuell)</label>
                <select id="groesseAktuell"
                        required
                        class="form-control"
                        [(ngModel)]="inserat.schulterhoehe" name="groesseAktuell"
                        #groesseAktuell="ngModel">
                    <option *ngFor="let schulterhoehe of schulterhoehen"
                            [value]="schulterhoehe" [selected]="schulterhoehe === inserat.schulterhoehe">
                        {{schulterhoehe}}
                    </option>
                </select>

                <div [hidden]="groesseAktuell.valid || groesseAktuell.pristine"
                     class="alert alert-danger">
                    Die aktuelle Größe ist ein Pflichtfeld
                </div>
            </div>
            <div class="col-md-3 mb-1">
                <label for="groesseVorauss">Größe (vorauss)</label>
                <select id="groesseVorauss"
                        required
                        class="form-control"
                        [(ngModel)]="inserat.voraussichtlicheSchulterhoehe" name="groesseVorauss"
                        #groesseVorauss="ngModel">
                    <option *ngFor="let schulterhoehe of schulterhoehen"
                            [value]="schulterhoehe" [selected]="schulterhoehe === inserat.voraussichtlicheSchulterhoehe">
                        {{schulterhoehe}}
                    </option>
                </select>

                <div [hidden]="groesseVorauss.valid || groesseVorauss.pristine"
                     class="alert alert-danger">
                    Die voraussichtliche Größe ist ein Pflichtfeld
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="rufname">Rufname</label>
                <input type="text"
                       required
                       id="rufname"
                       class="form-control"
                       [(ngModel)]="inserat.rufname"
                       name="rufname"
                       #rufname="ngModel"/>

                <div [hidden]="rufname.valid || rufname.pristine"
                     class="alert alert-danger">
                    Der Rufname ist ein Pflichtfeld
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <label for="geschlecht">Geschlecht</label>
                <select id="geschlecht"
                        required
                        class="form-control"
                        [(ngModel)]="inserat.geschlecht" name="geschlecht"
                        #geschlecht="ngModel">
                    <option value="M" [selected]="'M' === inserat.geschlecht">männlich</option>
                    <option value="W" [selected]="'W' === inserat.geschlecht">weiblich</option>
                </select>
                <div [hidden]="geschlecht.valid || geschlecht.pristine"
                     class="alert alert-danger">
                    Geschlecht ist ein Pflichtfeld
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-1">
                <span>Eigenschaften:</span>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.geimpft" name="geimpft" /> geimpft</div>
            </div>
            <div class="col-md-4 mb-1">
                <span>Zielgruppe:</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.kastriert" name="kastriert" /> kastriert</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.gechipt" name="gechipt" /> gechipt</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zielgruppeAnfaenger" name="zielgruppeAnfaenger" /> Anfänger</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.stubenrein" name="stubenrein" /> stubenrein</div>
            </div>
            <div class="col-md-4 mb-1">
                <span>verträgt sich mit:</span>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zielgruppeSenioren" name="zielgruppeSenioren" /> Senioren</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.leinenfuehrigkeit" name="leinenfuehrigkeit" /> leinenführig</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.vertraeglichkeitHunde" name="vertraeglichkeitHunde" /> anderen Hunden</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zielgruppeErfahren" name="zielgruppeErfahren" /> Erfahrene</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.autofahren" name="autofahren" /> Auto fahren</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.vertraeglichkeitKatzen" name="vertraeglichkeitKatzen" /> Katzen</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zielgruppeFamilien" name="zielgruppeFamilien" /> Familien</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zutraulich" name="zutraulich" /> zutraulich</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.vertraeglichkeitKinder" name="vertraeglichkeitKinder" /> Kindern</div>
            </div>
            <div class="col-md-4 mb-1">
                <div><input type="checkbox" [(ngModel)]="inserat.zielgruppeGarten" name="zielgruppeGarten" /> Gartenbesitzer</div>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!inseratForm.form.valid">Submit</button>
    </form>
</div>
