<div class="container-fluid" *ngIf="story">
    <div class="row">
        <div class="col-md-3 mb-3">
            <button class="btn btn-success" (click)="goBack()">zurück</button>
        </div>
    </div>
    <div class="row border rounded ">
        <div class="col-sm-12 text-left bg-info font-weight-bold"><h3>{{story.titel}}</h3></div>
    </div>
    <div class="row border rounded ">
        <div class="col-sm-12 ">
            <p class="text-justify">
                {{story.beschreibung}}
            </p>
        </div>
         <div class="col-sm-12 ">
            <div class="card-columns">
                <img *ngFor="let image of images"
                     class="card-img"
                     style="height: 180px; width: 180px; display: block;"
                     [src]="image.imageUrl">
            </div>
        </div>
    </div>
</div>
