<div class="container-fluid" *ngIf="story">
    <div class="col-sm-12"><button class="btn btn-success" (click)="goBack()">zurück</button></div>
    <div class="row border rounded ">
        <div class="col-sm-12 text-left bg-info font-weight-bold"><h3>{{story.titel}}</h3></div>
    </div>
    <div class="row border rounded ">
        <div class="col-sm-12 ">
            <p class="text-justify">
                {{story.beschreibung}}
            </p>
        </div>

            <div class="col-sm-6 ">
                <img src="assets/imgupload/20171210_145126.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm-6 ">
                <img src="assets/imgupload/20171210_145126.jpg" alt="..." class="img-thumbnail">
             </div>
             <div class="col-sm-6 ">
                 <img src="assets/imgupload/20171210_145126.jpg" alt="..." class="img-thumbnail">
            </div>
    </div>
    <div class="col-sm-12"><button class="btn btn-success" (click)="goBack()">zurück</button></div>
</div>
