<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label for="rasse">Rasse</label>
                    <span id="rasse">{{inserat?.rasse}}</span>
                </div>
                <div class="col-md-6">
                    <label for="sonstigeInfos">Sonstige Informationen</label>
                    <span id="sonstigeInfos">{{inserat?.rassenFreitext}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="gebDatum">Geburtsdatum</label>
                    <span id="gebDatum">{{inserat?.geburtsdatum}}</span>
                </div>
                <div class="col-md-3">
                    <label for="groesseAktuell">Schulterhöhe (aktuell)</label>
                    <span id="groesseAktuell">{{inserat?.schulterhoehe}}</span>
                </div>
                <div class="col-md-3">
                    <label for="groesseZukunft">Schulterhöhe (vorauss.)</label>
                    <span id="groesseZukunft">{{inserat?.voraussichtlicheSchulterhoehe}}</span>
                </div>
            </div>
        </div>

        <!-- TODO: Weitere Felder anzeigen -->
    </div>
</div>
