<div class="container">
    <h4 class="mb-3">Inserat</h4>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div><span>Rasse: </span>{{inserat.rasse}}</div>
        </div>
        <div class="col-md-6 mb-3">
            <div><span>Sonstige Informationen: </span>{{inserat.rassenFreitext || 'Keine'}}</div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-success" (click)="goBack()">zurück</button>
        <button class="btn" [routerLink]="['/inserate/edit',inserat.id]">editieren</button>
    </div>

    <!-- TODO: Weitere Felder anzeigen -->
</div>
