<div class="container mt-2 border rounded text-left">
    <h3 class="text-center">FAQs</h3>

    <h4 class="mt-3">Interessent</h4>
    <h5>Warum sehe ich keine Vermittlungsgebühren?</h5>
    <p class="text-justify">
        Die Vermittlungsgebühren werden von den Tierheimen festgelegt und hängen von einer Vielzahl von Faktoren ab. Wir haben uns dagegen entschieden diese Gebühren in unseren Formularen zu integrieren, da sich unsere Seite auf die Vermittlung konzentriert und keine Ähnlichkeit mit einem Onlineshop haben soll.
    </p>
    <h5>Wie trete ich mit einem Tierheim in Verbindung?</h5>
    <p class="text-justify">
        Sobald du ein passendes Inserat gefunden hast kannst du eine Anfrage an das zuständige Tierheim senden. Bitte nutze dafür das Kontaktformular und schreibe ein paar Sätze über dich, bzw. fülle die freiwilligen Angaben aus. So bekommt das Tierheim bereits einen Eindruck von dir und kann dir zielgerichtet antworten.
    </p>
    <h5>Ich habe mein Passwort vergessen. Was kann ich jetzt tun?</h5>
    <p class="text-justify">
        Kein Problem. Gehe einfach auf die Anmeldeseite und klicke auf "Passwort zurücksetzen". Du musst lediglich eine email-Adresse eingeben und kannst dir dann mit Hilfe des die zugesandten Links ein neues Passwort zuteilen.
    </p>
    <h5>Ich kann das Kontaktformular nicht nutzen. Woran liegt das?</h5>
    <p class="text-justify">
        Nur eingeloggte Nutzer können eine Anfrage an ein Tierheim senden. Wir empfehlen dir einen kostenlosen Account zu erstellen um auf alle Funktionen von Tier-Fair-Mittlung zugreifen zu können
    </p>
    <h5>Wie kann ich eine Story schreiben?</h5>
    <p class="text-justify">
        Sobald eine Vermittlung erfolgreich durchgeführt wurde, kann das zuständige Tierheim einen Storyschreiber zuweisen. Dieser erhält anschließend eine Benachrichtigung über die erfolgte Freischalten und kann ab sofort nach erfolgtem Login auf den Storybereich zugreifen, wo er seine Stories verfassen, editieren und löschen kann.
    </p>

    <h4 class="mt-3">Vermittler</h4>

    <h5>Wie kann ich einen Storyschreiber zuweisen?</h5>
    <p class="text-justify">
        Wenn eine Vermittlung erfolgreich war, wähle bitte das entsprechende Inserat in deiner Liste und klicke auf das "Vermittelt"-Icon. Jetzt hast du die Möglichkeit die email-Adresse des glücklichen, neuen Besitzers einzutragen. Er wird automatisch von TFM darüber benachrichtigt.
    </p>

    <h5>Warum kann ich vermittelte Inserate nicht löschen?</h5>
    <p class="text-justify">
        Das hängt mit der automatisierten Rechnungsstellung zusammen. Sobald ein Inserat als "vermittelt" markiert wurde, ist es für die nächste Rechnung vorgemerkt. Erst wenn diese erstellt und verschickt wurde kann das Inserat gelöscht werden.
    </p>

    <h5>Kann ich meine Inserate auch auf meiner eigenen Webseite anzeigen?</h5>
    <p class="text-justify">
        Das ist nicht nur möglich, sondern auch relativ einfach. Du musst lediglich ein iframe mit der Adresse https://tier-fair-mittlung.de/#/inserate/such-maske?widgetMode=true&vermittler=deine-registrierte-vermittler@email-adresse.de in deine gewünschte Seite integrieren. Wenn du wieder Erwarten zusätzliche Hilfe benötigen solltest, wende dich bitte an support@tier-fair-mittlung.de
    </p>

    </div>
