<nav class="navbar navbar-expand-md navbar-light fixed-top tfm">

    <a class="navbar-brand" href="#"><img src="assets/img/logo-quer-40px.png"><span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/inserate">Inserate</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/stories">Stories</a>
            </li>
        </ul>

        <ul *ngIf="currentUser && currentUser.loggedIn; else loggedOut" class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" id="accountDropdown" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">{{currentUser.userName}}</a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown" data-toggle="collapse"
                     data-target=".navbar-collapse.show">
                    <a class="dropdown-item" routerLink="/edit-register" data-toggle="collapse"
                       data-target=".navbar-collapse.show">Daten bearbeiten</a>
                    <a class="dropdown-item" (click)="logout()" href="#" data-toggle="collapse"
                       data-target=".navbar-collapse.show">Abmelden</a>
                </div>
            </li>
        </ul>

        <ng-template #loggedOut>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Registrierung</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse"
                         data-target=".navbar-collapse.show">
                        <a class="dropdown-item" routerLink="/interessent/register">für Interessenten</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/vermittler/register">für Vermittler</a>
                    </div>
                </li>
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" routerLink="/login">Anmelden</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>

<main role="main" class="container-fluid p-0 pt-5 pb-6">

    <div class="starter-template">
        <router-outlet></router-outlet>

    </div>

</main><!-- /.container -->

<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">
    <!-- Footer Links -->
    <div class="container text-center ">
        <!-- Grid row -->
        <div class="row ">
            <span class="clearfix w-100"></span>
            <!-- Grid column -->
            <div class="col-4 col-md-4 ">
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <a routerLink="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md-4 ">
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <a routerLink="/datenschutz">Datenschutz</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md-4">
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <a routerLink="/impressum">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <div class="footer-copyright text-center">&copy; 2018 Copyright: TFM &nbsp;</div>
</footer>
<!-- Footer -->

